<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.briup.moneymanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.briup.moneymanager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.briup.moneymanager.UserLoginActivity"
            android:label="@string/title_activity_user_login" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.UserRegisteActivity"
            android:label="@string/title_activity_user_registe" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.DataSaveActivity"
            android:label="@string/title_activity_data_save" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.ZhichuActivity"
            android:label="@string/title_activity_shouru_or_zhichu_type" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.ShouruActivity"
            android:label="@string/title_activity_zhi_chu_type" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.AddAccountActivity"
            android:label="@string/title_activity_add_account" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.GeRenZhongXinActivity"
            android:label="@string/title_activity_ge_ren_zhong_xin" >
        </activity>
        <activity
            android:name="com.briup.moneymanager.ZhuanZhangActivity"
            android:label="@string/title_activity_zhuan_zhang" >
        </activity>
    </application>

</manifest>
